.card {
  background: #FFFFFF;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  overflow: hidden;

  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 5rem;
  transition: all ease-in-out 300ms;

  z-index: 1;

}

.limite-size {
  max-width: 1000px;
}