<body>
  <!-- <app-map></app-map> -->
  <app-card
    [ngClass]="{ 'limit-height': workflow[step].limitHeight }"
    [limitSize]="workflow[step].limitWidth"
  >
    <app-home
      *ngIf="workflow[step].step === 'home'"
      (schoolsLoaded)="onSchoolsLoaded($event)"
    ></app-home>

    <app-route-selector
      *ngIf="workflow[step].step === 'route-selector'"
      [numSchools]="schools.length"
      (onSelect)="numRoutesPicked($event)"
    ></app-route-selector>

    <app-item-picker
      [files]="files"
      (onPickItems)="onPickItems($event.selected, $event.date)"
      *ngIf="workflow[step].step === 'item-picker'"
    ></app-item-picker>

    <app-finish
      *ngIf="workflow[step].step === 'finish'"
      [routes]="routes"
      [selectedItems]="selectedItems"
      [date]="date"
      (onRestart)="onRestart()"
    ></app-finish>
  </app-card>
</body>
