<div class="loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div class="container" *ngIf="!loading">
  <div class="map-container">
    <app-map [markers]="markers"></app-map>
  </div>
  <div class="list-container">
    <ul class="list">
      <li
        *ngFor="
          let index of routes[routeKeys[currRoute - 1]].optimalRoute;
          let i = index
        "
      >
        <div class="divider" *ngIf="i !== 0"></div>
        <div class="option-container">
          <p class="name">
            {{ i + 1 }} -
            {{ routes[routeKeys[currRoute - 1]].schools[index].name }}
          </p>
          <p class="address">
            {{
              routes[routeKeys[currRoute - 1]].schools[index].address
                .geocodedAddr
            }}
          </p>
        </div>
      </li>

      <!-- <li *ngFor="let school of routes[routeKeys[currRoute - 1]].schools; let i = index">
        <div class="divider" *ngIf="i !== 0"></div>
        <div class="option-container">
          <p class="name">{{ i + 1 }} - {{ school.name }}</p>
          <p class="address">{{ school.address.geocodedAddr }}</p>
        </div>
      </li> -->
    </ul>
  </div>
  <div class="footer">
    <div class="info">
      <h2 class="gradient-text">Rota {{ routeKeys[this.currRoute - 1] }}</h2>
      <p>{{ getRouteLength() }}</p>
    </div>
    <app-button (click)="onNextRoute()">{{
      currRoute === routeKeys.length ? "Continuar" : "Próxima"
    }}</app-button>
  </div>
</div>
